<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/cinema_db?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">cinema_user</property>
        <property name="hibernate.connection.password">1111</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Automatically create/update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated classes -->
        <mapping class="mate.academy.model.User"/>
        <mapping class="mate.academy.model.Movie"/>
        <mapping class="mate.academy.model.CinemaHall"/>
        <mapping class="mate.academy.model.MovieSession"/>
        <mapping class="mate.academy.model.Ticket"/>
        <mapping class="mate.academy.model.ShoppingCart"/>
    </session-factory>
</hibernate-configuration>
